<div class="list-group" *ngFor="let bill of billItems">
  <a *ngIf="this.billService.ifPaid(bill.id)" class="list-group-item list-group-item-action list-group-item-success" [routerLink]="['../bill-details', bill.id]">
    {{bill.name}} <span>已支付</span>
    <div class="text-right">￥{{bill.price | number: '.2-2'}}</div>
  </a>
  <a *ngIf="!this.billService.ifPaid(bill.id)" class="list-group-item list-group-item-action list-group-item-dark" [routerLink]="['../bill-details', bill.id]">
    {{bill.name}}
    <div class="text-right">￥{{bill.price | number: '.2-2'}}</div>
  </a>
</div>
