<nav class="navbar navbar-expand-sm navbar-light">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-item">
      <a class="navbar-brand" [routerLink]="['']" >首页</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" [routerLink]="['bill']">账单</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" [routerLink]="['party']">聚会</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" [routerLink]="['vote']">提议</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" [routerLink]="['todo']">待办</a>
    </li>
  </ul>
</nav>
